html, body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  -webkit-transform: none;
          transform: none;
}

.btn-submit {
  width: 250px;
  margin: 10px;
  margin-left: 0;
  border: 2px solid #159957;
  padding: 6px 24px;
  font-size: 1.15em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #159957;
  background-color: #fff;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: auto;
  margin: 20px 0px;
}

.btn-submit:hover {
  background-color: #159957;
  border-color: #159957;
  color: #fff;
}

.btn-submit:active {
  background-color: #159957;
  border-color: #159957;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-submit:focus, .btn-submit:active:focus {
  background-color: #159957;
  border-color: #159957;
  color: #fff;
  outline: 5px auto #159957;
}

.btn-submit:visited {
  background-color: #159957;
  border-color: #159957;
}

html, body {
  background-color: #fff;
  color: #474747;
}

body {
  opacity: .9;
}

.break {
  display: inline-block;
  background-color: #845007;
  width: 100%;
  height: 5px;
}

.main .home {
  margin: 1.2rem;
}

.imgInline {
  height: auto;
  text-align: right;
  margin-left: 9rem;
  margin-bottom: -4px;
}

.imgHome {
  height: 450px;
  text-align: right;
  margin-top: 3rem;
}

.writtingHome {
  width: 450px;
  text-align: left;
  margin: 5rem;
  margin-top: 3rem;
  margin-right: 8rem;
  margin-left: 1rem;
  margin-bottom: 0;
  padding-left: 1rem;
  padding-bottom: 3rem;
  vertical-align: 0%;
  border: black 1px solid;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.openNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: #474747;
  z-index: 3;
  width: 100%;
  right: 0;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
}

.aboutHeaderLogo {
  position: absolute;
  top: 30%;
  left: 10%;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-animation: fadein 3s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 3s;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.header {
  background: #fff;
}

.header.home {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.footer {
  background: #474747;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  background: #fff;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.aside-1 {
  background: #fff;
}

.aside-2 {
  background: #fff;
}

.left {
  max-width: 600px;
  padding: 1.2rem;
}

.sneakyClose {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 1.2rem;
}

#nameForm {
  padding-right: 1px;
}

.sneakyClose textarea {
  width: 350px;
  padding: 1.2rem;
}

.sneakyClose textarea, .sneakyClose input {
  background-color: #ededed;
}

#main-footer {
  clear: both;
}

#myVideo {
  min-width: 100%;
  min-height: 100%;
}

@media only screen and (max-width: 320px) {
  html {
    margin: 0;
  }
  .openNav {
    font-size: 1.3rem;
  }
  .aboutHeaderLogo {
    width: 85vw;
  }
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  .topnav, .topnav .responsive {
    -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .main {
    display: block;
    width: 75vw;
  }
  .imgInline {
    margin-left: 0;
  }
  .writtingHome {
    width: 85vw;
  }
}

@media only screen and (max-width: 424px) {
  html {
    margin: 0;
  }
  .aboutHeaderLogo {
    width: 85vw;
  }
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .main {
    display: block;
    width: 75vw;
  }
  .imgInline {
    margin-left: 0;
  }
  .writtingHome {
    width: 85vw;
  }
}

@media only screen and (max-width: 767px) {
  html {
    margin: 0;
  }
  .aboutHeaderLogo {
    width: 85vw;
  }
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .main {
    display: block;
    width: 75vw;
  }
  .imgInline {
    margin-left: 0;
  }
  .writtingHome {
    width: 85vw;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    margin: 0;
  }
  .aboutHeaderLogo {
    width: 85vw;
    top: 15%;
  }
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .main {
    display: block;
    width: 75vw;
  }
  .sneakyClose .Name .item, .sneakyClose .item, .sneakyCloseMessage .item, btn-submit {
    width: 75vw;
  }
  .imgInline {
    margin-left: 0;
  }
  .writtingHome {
    width: 85vw;
  }
}

@media all and (min-width: 600px) {
  .aside {
    -webkit-box-flex: 1;
        -ms-flex: 1 auto;
            flex: 1 auto;
  }
}

@media all and (min-width: 800px) {
  .main {
    -webkit-box-flex: 9;
        -ms-flex: 9 0px;
            flex: 9 0px;
  }
  .aside-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .main {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .aside-2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .footer {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

.hidden {
  opacity: 0;
}

@-webkit-keyframes fade-into {
  from {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-into {
  from {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  to {
    opacity: 1;
  }
}

.fade-in-element {
  -webkit-animation: fade-into 2.4s;
          animation: fade-into 2.4s;
}

@-webkit-keyframes fade-intoR {
  from {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-intoR {
  from {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  to {
    opacity: 1;
  }
}

.fade-in-elementR {
  -webkit-animation: fade-intoR 2.4s;
          animation: fade-intoR 2.4s;
}
/*# sourceMappingURL=Crazy.css.map */