//----------------------------------------------------------primary reset
html, body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    transform:none;
}
//----------------------------------------------------------Color Themes
$White:#fff;
$Primary: #7f7f7f;
$Light:hsl(0,0%,93%);
$LightText:hsl(0,0%,60%);
$Text:#474747 ; 
$Accent: #845007;
$submit: #159957;
//----------------------------------------------------------Custom Variables
$Margin: 1.2rem;
$Padding:1.2rem;
$Center: auto;
$transition: all 0.25s ease-in-out;

//----------------------------------------------------------BTN MXin Section
@mixin mybutton($color_1, $color_2) {
    width: 250px;
    margin: 10px;
    margin-left:0;
    border: 2px solid $color_1;
    padding: 6px 24px;
    font-size: 1.15em;
    letter-spacing: 1px;
    text-transform: uppercase;
      color: $color_1;
    background-color: $color_2;
      transition: $transition;
      &:hover {
          background-color: $color_1;
          border-color: $color_1;
          color: $color_2;
      }
      &:active {
          background-color: $color_1;
          border-color: $color_1;
          color: $color_2;
          box-shadow: none;
      }
      &:focus, &:active:focus {
          background-color: $color_1;
          border-color: $color_1;
          color: $color_2;
          outline: 5px auto $color_1;
      }
      &:visited {
          background-color: $color_1;
          border-color: $color_1;
      }
  }
  
  .btn-submit {
    @include mybutton($submit, $White);
    width: auto;
    margin: 20px 0px;
  } 

//----------------------------------------------------------Main Page Section


html, body{
background-color: $White;
color:$Text;
// background-color: $Text;
}
body{
    opacity: .9;
}
.break{
    display: inline-block;
    background-color: $Accent;
    width:100%;
    height:5px;
}
.main .home{
    margin: $Margin;
}

.imgInline{
    height:auto;
    text-align: right;
    margin-left: 9rem;
    margin-bottom: -4px;
}
.imgHome{
    height:450px;
    text-align:right;
    margin-top: 3rem;
}
.writtingHome{ 
    width: 450px;
    text-align: left;
    margin: 5rem;
    margin-top:3rem;
    margin-right: 8rem;
    margin-left: 1rem;
    margin-bottom: 0;
    padding-left: 1rem;
    padding-bottom: 3rem;
    vertical-align: 0%;
    border:black 1px solid;
}

//----------------------------------------------------------Main Nav Section

// .topnav {
//     overflow: hidden;
//     background-color: #333;
//     transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
//   }
  
//   .topnav a {
//     float: left;
//     display: block;
//     color: #f2f2f2;
//     text-align: center;
//     padding: 14px 16px;
//     text-decoration: none;
//     font-size: 17px;
//     transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;

//   }
  
//   .active {
//     background-color: #4CAF50;
//     color: white;
//   }
  
//   .topnav .icon {
//     display: none;
//   }
  
//   .dropdown {
//       float: left;
//       overflow: hidden;
//       transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;

//   }
  
//   .dropdown .dropbtn {
//       font-size: 17px;    
//       border: none;
//       outline: none;
//       color: white;
//       padding: 14px 16px;
//       background-color: inherit;
//       font-family: inherit;
//       margin: 0;
//       transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;

//   }
  
//   .dropdown-content {
//       display: none;
//       position: absolute;
//       background-color: #f9f9f9;
//       min-width: 160px;
//       box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//       z-index: 1;
//   }
  
//   .dropdown-content a {
//       float: none;
//       color: black;
//       padding: 12px 16px;
//       text-decoration: none;
//       display: block;
//       text-align: left;
//       transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;

//   }
  
//   .topnav a:hover, .dropdown:hover .dropbtn {
//     background-color: #555;
//     color: white;
//     transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;

//   }
  
//   .dropdown-content a:hover {
//       background-color: #ddd;
//       color: black;
//       transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;

//   }
  
//   .dropdown:hover .dropdown-content {
//       display: block;
//       transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;

//   }

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }}
  .openNav{
    display: flex;
    position:fixed;
    justify-content: flex-end;
    background:$Text;
    z-index: 3;
    width:100%;
    right:0; 
    font-size:30px;
    cursor:pointer;
    color: $White;
  }
//----------------------------------------------------------Main About Section
.aboutHeaderLogo{
    position:absolute;
    top:30%;
    left:10%;
    transition-delay: .5s;
    transition: 2s;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}


.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }
  
  .wrapper > * {
    // padding: 10px;
    flex: 1 100%;
  }
  
  .header {
    background: $White;

  }
.header.home{
        // background-image: url("https://i0.wp.com/chapmanscoffee.com/wp-content/uploads/2017/03/qtq50-MTJvMq.jpeg?zoom=2&w=1080&ssl=1");
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
  .footer {
    background: $Text;
  }
  
  .main {
    display:flex;
    text-align: left;
    background: $White;
    align-content: flex-start;

  }
  
  .aside-1 {
    background: $White;
  }
  
  .aside-2 {
    background: $White;
  }
.left{
    max-width: 600px;
    padding:$Padding;
}
.sneakyClose{
    display:inline-grid;
    align-content: center;
    padding: $Padding;

}
// .sneakyClose item{
//     align-self: flex-end;
//     background-color: $Primary;
// }
#nameForm{
    padding-right:1px;
}
.sneakyClose textarea{
    width: 350px;
    padding: $Padding;

}
.sneakyClose textarea, .sneakyClose input{
        background-color: $Light;

}



//----------------------------------------------------------Footer Section
#main-footer{
    clear: both;
}
//----------------------------------------------------------Movie Section
#myVideo{
    // position: fixed;
    // right: 0;
    // bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    // z-index: -1;
}
//----------------------------------------------------------Media Query Section

@media only screen and (max-width: 320px){
    html{
        margin:0;
    }  
    .openNav {
        font-size:1.3rem;
    }
    .aboutHeaderLogo{
        width: 85vw;
    }
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
      }
      .topnav a.icon {
        float: right;
        display: block;
      }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
      
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
    .topnav, .topnav .responsive{    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
    }
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
}
@media only screen and (min-width:321px), (max-width: 424px){
    html{
        margin:0;
    }
    .aboutHeaderLogo{
        width: 85vw;
    }
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
      }
      .topnav a.icon {
        float: right;
        display: block;
      }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
}
@media only screen and (min-width:425px), (max-width: 767px){
    html{
        margin:0;
    }
    .aboutHeaderLogo{
        width: 85vw;
    }
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
      }
      .topnav a.icon {
        float: right;
        display: block;
      }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
}
@media only screen and (min-width:768px), (max-width: 980px){
    html{
        margin:0;
    }
    .aboutHeaderLogo{
        width: 85vw;
    }
    .openNav {
        justify-content:center;
    }
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
      }
      .topnav a.icon {
        float: right;
        display: block;
      }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
}
@media only screen and (min-width:981px), (max-width: 980px){

}
@media all and (min-width: 600px) {
    .aside { flex: 1 auto; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 9 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }
//---------------------------------normal from here.

//----------------------------------------------------------Animation Section
.hidden {
    opacity: 0;
  }
@keyframes fade-into {
    from {opacity: 0; transform:translateX(-200px)}
    to {opacity: 1;}
}
.fade-in-element {
  animation: fade-into 2.4s;
}
@keyframes fade-intoR {
    from {opacity: 0; transform:translateX(200px)}
    to {opacity: 1;}
}
.fade-in-elementR {
  animation: fade-intoR 2.4s;
}
