//----------------------------------------------------------primary reset
html, body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    transform:none;
}
//----------------------------------------------------------Color Themes
$White:#fff;
$Primary: #7f7f7f;
$Light:hsl(0,0%,93%);
$LightText:hsl(0,0%,60%);
$Text:#474747 ; 
$Accent: #845007;
$submit: #159957;
//----------------------------------------------------------Custom Variables
$Margin: 1.2rem;
$Padding:1.2rem;
$Center: auto;
$transition: all 0.25s ease-in-out;

//----------------------------------------------------------BTN MXin Section
@mixin mybutton($color_1, $color_2) {
    width: 250px;
    margin: 10px;
    margin-left:0;
    border: 2px solid $color_1;
    padding: 6px 24px;
    font-size: 1.15em;
    letter-spacing: 1px;
    text-transform: uppercase;
      color: $color_1;
    background-color: $color_2;
      transition: $transition;
      &:hover {
          background-color: $color_1;
          border-color: $color_1;
          color: $color_2;
      }
      &:active {
          background-color: $color_1;
          border-color: $color_1;
          color: $color_2;
          box-shadow: none;
      }
      &:focus, &:active:focus {
          background-color: $color_1;
          border-color: $color_1;
          color: $color_2;
          outline: 5px auto $color_1;
      }
      &:visited {
          background-color: $color_1;
          border-color: $color_1;
      }
  }
  
  .btn-submit {
    @include mybutton($submit, $White);
    width: auto;
    margin: 20px 0px;
  } 

//----------------------------------------------------------Scroll Bar Section
body::-webkit-scrollbar {
    width: 1em;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: $Text;
  outline: 1px solid slategrey;
}
//----------------------------------------------------------Main Page Section


html, body{
background-color: $White;
color:$Text;
}
body{
    opacity: .9;
}
.break{
    display: inline-block;
    background-color: $Accent;
    width:100%;
    height:5px;
}
.main .home{
    margin: $Margin;
}

.imgInline{
    height:auto;
    text-align: right;
    margin-left: 9rem;
    margin-bottom: -4px;
}
.imgHome{
    height:450px;
    text-align:right;
    margin-top: 3rem;
}
.writtingHome{ 
    width: 450px;
    text-align: left;
    margin: 5rem;
    margin-top:3rem;
    margin-right: 8rem;
    margin-left: 1rem;
    margin-bottom: 0;
    padding-left: 1rem;
    padding-bottom: 3rem;
    vertical-align: 0%;
    border:black 1px solid;
}

//----------------------------------------------------------Main Nav Section
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    // font-size: 16px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin: "5vw 1vw";
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }}
  .openNav{
    display: flex;
    position:fixed;
    padding: 90px 10px;
    justify-content: flex-start;
    background:$Text;
    z-index: 3;
    width:100%;
    right:0; 
    font-size:30px;
    cursor:pointer;
    color: $White;
    transition: 0.4s;
    opacity: .8;
  }
  
//   .openNav span{

//   }
  .navLogo{
    width: 20vw;
    height: 10vh;
      text-align: left;
  }
  .openEr{
    align-self: center;
    justify-content: end;
    justify-self: end;
    margin-left: 50vw;
  }
//----------------------------------------------------------Main About Section
.aboutHeaderLogo{
    position:absolute;
    top:30%;
    left:10%;
    transition-delay: .5s;
    transition: 2s;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}


.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }
  
  .wrapper > * {
    flex: 1 100%;
  }
  
  .header {
    background: $White;

  }
.header.home{
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

  
  .main {
    display:flex;
    text-align: left;
    background: $White;
    align-content: flex-start;

  }
  
  .aside-1 {
    background: $White;
  }
  
  .aside-2 {
    background: $White;
  }
.left{
    max-width: 600px;
    padding:$Padding;
}
.sneakyClose{
    display:inline-grid;
    align-content: center;
    padding: $Padding;

}
#nameForm{
    padding-right:1px;
}
.sneakyClose textarea{
    width: 350px;
    padding: $Padding;

}
.sneakyClose textarea, .sneakyClose input{
        background-color: $Light;

}



//----------------------------------------------------------Footer Section
#main-footer{
    clear: both;
}
.containerFooter{
    width: 1200px;
    margin: auto;
    border: black 1px solid;
}
.footer {
    color: $White;
    background: $Text;
    text-align: left;
  }
  .footer a{
      color: $White;
      text-decoration: none;
  }
//----------------------------------------------------------Movie Section
#myVideo{
    min-width: 100%; 
    min-height: 100%;
}
//----------------------------------------------------------Media Query Section

@media only screen and (max-width: 320px){
    html{
        margin:0;
    }  
    .openNav {
        font-size:1.3rem;
    }
    .aboutHeaderLogo{
        width: 85vw;
    }
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
      }
      .topnav a.icon {
        float: right;
        display: block;
      }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
      
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
    .topnav, .topnav .responsive{    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
    }
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
    .main{
        display: block;
        width: 75vw;
    }
    .imgInline {
        margin-left: 0;
    }
    .writtingHome{
        width: 85vw;
    }
}
@media only screen and (max-width: 424px){
    html{
        margin:0;
    }
    .aboutHeaderLogo{
        width: 85vw;
    }
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
      }
      .topnav a.icon {
        float: right;
        display: block;
      }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
    .main{
        display: block;
        width: 75vw;
    }
    .imgInline {
        margin-left: 0;
    }
    .writtingHome{
        width: 85vw;
    }
}
@media only screen and (max-width: 767px){
    html{
        margin:0;
    }
    .aboutHeaderLogo{
        width: 85vw;
    }
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
      }
      .topnav a.icon {
        float: right;
        display: block;
      }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
    .main{
        display: block;
        width: 75vw;
    }
    .imgInline {
        margin-left: 0;
    }
    .writtingHome{
        width: 85vw;
    }
}
@media only screen and (max-width: 1024px){
    html{
        margin:0;
    }
    .aboutHeaderLogo{
        width: 85vw;
        top: 15%;
    }
    // .openNav {
    // }
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
      }
      .topnav a.icon {
        float: right;
        display: block;
      }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
    .main{
        display: block;
        width: 75vw;
    }
    .sneakyClose .Name .item,.sneakyClose .item, .sneakyCloseMessage .item, btn-submit {
        width: 75vw;}
    .imgInline {
        margin-left: 0;
    }
    .writtingHome{
        width: 85vw;
    }
}
@media only screen and  (max-width: 980px){

}
@media all and (min-width: 600px) {
    .aside { flex: 1 auto; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 9 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }
//---------------------------------normal from here.

//----------------------------------------------------------Animation Section
.hidden {
    opacity: 0;
  }
@keyframes fade-into {
    from {opacity: 0; transform:translateX(-200px)}
    to {opacity: 1;}
}
.fade-in-element {
  animation: fade-into 2.4s;
}
@keyframes fade-intoR {
    from {opacity: 0; transform:translateX(200px)}
    to {opacity: 1;}
}
.fade-in-elementR {
  animation: fade-intoR 2.4s;
}
